/* Your app styles here */
@import 'vue-wysiwyg/dist/vueWysiwyg.css';

.icon-bold {
  font-weight: bold;
}

.icon-click {
  cursor: pointer;
}

.size-15 {
  font-size: 15px;
}

.form-container {
  display: flex;
}

.form-container input {
  margin-right: 10px;
  width: 33.33%;
}

.error {
  border: solid 1px red;
}
